In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns',None)

%matplotlib inline

In [34]:
df = pd.read_csv('energydata_complete.csv')
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,RH_5,T6,RH_6,T7,RH_7,T8,RH_8,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,45.566667,17.166667,55.20,7.026667,84.256667,17.200000,41.626667,18.2,48.900000,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,45.992500,17.166667,55.20,6.833333,84.063333,17.200000,41.560000,18.2,48.863333,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,45.890000,17.166667,55.09,6.560000,83.156667,17.200000,41.433333,18.2,48.730000,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,45.723333,17.166667,55.09,6.433333,83.423333,17.133333,41.290000,18.1,48.590000,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,45.530000,17.200000,55.09,6.366667,84.893333,17.200000,41.230000,18.1,48.590000,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

#Q12->From the dataset, fit a linear model on the relationship between the temperature in the living room in Celsius (x = T2) and the temperature outside the building (y = T6). What is the R^2 value in two d.p.?

In [9]:
x=df['T2']
y=df['T6']

In [13]:
# use linear model to fit data
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x.values.reshape(-1,1), y.values.reshape(-1,1))

LinearRegression()

In [15]:
from sklearn.metrics import r2_score
print("R-squared: %.2f" % r2_score(y.values, model.predict(x.values.reshape(-1,1))))

R-squared: 0.64

Q13--> Normalize the dataset using the MinMaxScaler after removing the following columns: [“date”, “lights”]. The target variable is “Appliances”. Use a 70-30 train-test set split with a random state of 42 (for reproducibility). Run a multiple linear regression using the training set and evaluate your model on the test set. Answer the following questions:

What is the Mean Absolute Error (in two decimal places)?

In [35]:
df_clean = df.drop(['date', 'lights'], axis=1)
# use MinMaxScaler to scale the data with it's respective column names
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
scaled_df = scaler.fit_transform(df_clean)
scaled_df = pd.DataFrame(scaled_df, columns=df_clean.columns)

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(scaled_df, y, test_size=0.3, random_state=42)
#Run a multiple linear regression using the training set and evaluate your model on the test set.
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [38]:
y_pred = model.predict(X_test)

In [43]:
#Q13 print Mean Absolute Error (in two decimal places)?
from sklearn.metrics import mean_absolute_error
print("Mean Absolute Error: %.2f" % mean_absolute_error(y_test, y_pred))
#Q14 print Residual Sum of Squares (in two decimal places)?
from sklearn.metrics import mean_squared_error
print("Mean Squared Error: %.2f" % mean_squared_error(y_test, y_pred))
#Q15 print Root Mean Squared Error (in two decimal places)?
from math import sqrt
print("Root Mean Squared Error: %.2f" % sqrt(mean_squared_error(y_test, y_pred)))
#Q16 What is the Coefficient of Determination (in two decimal places)?
from sklearn.metrics import r2_score
print("Coefficient of Determination: %.2f" % r2_score(y_test, y_pred))

Mean Absolute Error: 0.00
Mean Squared Error: 0.00
Root Mean Squared Error: 0.00
Coefficient of Determination: 1.00

Q17-->Obtain the feature weights from your linear model above. Which features have the lowest and highest weights respectively?

In [44]:
feature_weights = pd.DataFrame(model.coef_, index=df_clean.columns, columns=['weights'])
print(feature_weights)

                  weights
Appliances   9.189224e-16
T1          -8.171241e-14
RH_1         5.995204e-15
T2           2.158274e-13
RH_2         1.421085e-14
T3           9.370282e-14
RH_3        -8.471002e-14
T4           2.486900e-14
RH_4         8.015810e-14
T5           1.154632e-14
RH_5        -3.011480e-14
T6           3.435500e+01
RH_6        -3.996803e-15
T7          -9.769963e-15
RH_7         1.110223e-14
T8           1.088019e-14
RH_8        -1.110223e-14
T9          -2.775558e-15
RH_9        -1.776357e-15
T_out       -3.241851e-14
Press_mm_hg  5.107026e-15
RH_out       9.769963e-15
Windspeed    8.881784e-16
Visibility   4.843348e-15
Tdewpoint   -1.831868e-15
rv1         -5.634382e-15
rv2          4.912737e-15

In [46]:
#The features with the highest weights are:
print(feature_weights.sort_values(by='weights', ascending=False))

                  weights
T6           3.435500e+01
T2           2.158274e-13
T3           9.370282e-14
RH_4         8.015810e-14
T4           2.486900e-14
RH_2         1.421085e-14
T5           1.154632e-14
RH_7         1.110223e-14
T8           1.088019e-14
RH_out       9.769963e-15
RH_1         5.995204e-15
Press_mm_hg  5.107026e-15
rv2          4.912737e-15
Visibility   4.843348e-15
Appliances   9.189224e-16
Windspeed    8.881784e-16
RH_9        -1.776357e-15
Tdewpoint   -1.831868e-15
T9          -2.775558e-15
RH_6        -3.996803e-15
rv1         -5.634382e-15
T7          -9.769963e-15
RH_8        -1.110223e-14
RH_5        -3.011480e-14
T_out       -3.241851e-14
T1          -8.171241e-14
RH_3        -8.471002e-14

Q18-->Train a ridge regression model with an alpha value of 0.4. 
Is there any change to the root mean squared error (RMSE) when evaluated on the test set?

In [47]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=0.4)
model.fit(X_train, y_train)
print("Root Mean Squared Error: %.2f" % sqrt(mean_squared_error(y_test, model.predict(X_test))))

#Yes there is a change

Root Mean Squared Error: 0.03

Q19-->Train a lasso regression model with an alpha value of 0.001 and obtain the new feature weights with it. How many of the features have non-zero feature weights?

In [48]:
from sklearn.linear_model import Lasso
model = Lasso(alpha=0.001)
model.fit(X_train, y_train)
# How many features have non-zero weights?
print(model.coef_)

[ 0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00 -0.00000000e+00  3.42919806e+01
 -4.08701640e-03  0.00000000e+00  0.00000000e+00  0.00000000e+00
  0.00000000e+00  0.00000000e+00  0.00000000e+00  2.47351936e-02
 -0.00000000e+00 -0.00000000e+00  0.00000000e+00 -0.00000000e+00
  0.00000000e+00 -0.00000000e+00 -0.00000000e+00]

In [49]:
print(model.coef_ != 0)

# I am getting an answer as three but there is no such option in the quiz

[False False False False False False False False False False False  True
  True False False False False False False  True False False False False
 False False False]

Q20-->What is the new RMSE with the lasso regression? (Answer should be in three (3) decimal places)

In [50]:
print("Root Mean Squared Error: %.3f" % sqrt(mean_squared_error(y_test, model.predict(X_test))))

Root Mean Squared Error: 0.006