## STAGE-A QUIZ

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
df = pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv')
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [3]:
#checking for null values
df['Item'].value_counts()

Milk - Excluding Butter     1262
Eggs                        1142
Miscellaneous                911
Cereals - Excluding Beer     714
Oilcrops                     706
                            ...
Animal Products              135
Vegetal Products             135
Grand Total                  135
Sugar non-centrifugal        121
Population                    90
Name: Item, Length: 119, dtype: int64

Q11-What is the total sum of Animal Fat produced in 2014 and 2017 respectively?

In [4]:
df.groupby('Item').sum()

#ANSWER-->209460.54 and 269617.53

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

Q12-What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?

In [5]:
df.describe()

#ANSWER-->135.236 and 1603.404

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

Q13-What is the total number and percentage of missing data in 2016 to 2 decimal places?

In [6]:
num_of_missing_data = df.isnull().sum()['Y2016']
print("{:.2f}".format(num_of_missing_data))

1535.00

In [8]:
prcnt_of_missing_data = (df.isnull().sum()['Y2016']/df.shape[0])*100
print("{:.2f}".format(prcnt_of_missing_data))

2.52

Q14-Which year had the highest correlation with ‘Element Code’?

In [9]:
df.corr()['Element Code'].sort_values(ascending=False)

#ANSWER-->Year2014

Element Code    1.000000
Y2014           0.024457
Y2018           0.024279
Y2017           0.024254
Y2015           0.023889
Y2016           0.023444
Area Code      -0.000209
Item Code      -0.024683
Name: Element Code, dtype: float64

Q15-What year has the highest sum of Import Quantity?

In [10]:
print('Y2014',sum(df.groupby('Element').sum()['Y2014']))
print('Y2015',sum(df.groupby('Element').sum()['Y2015']))
print('Y2016',sum(df.groupby('Element').sum()['Y2016']))
print('Y2017',sum(df.groupby('Element').sum()['Y2017']))

#ANSWER-->Y2017

Y2014 7965086.130000004
Y2015 8032340.230000004
Y2016 8112472.650000003
Y2017 8375729.190000001

Q16-What is the total number of the sum of Production in 2014?

In [14]:
df.groupby('Element').sum()['Y2014']['Production']

1931287.7500000005

Q17-Which of these elements had the highest sum in 2018?

In [15]:
df.groupby('Element').sum()['Y2018'].sort_values(ascending=False)

#ANSWER-->Domestic supply quantity

Element
Domestic supply quantity                  2161192.10
Production                                2075072.89
Food                                      1303841.28
Total Population - Both sexes             1140605.00
Food supply (kcal/capita/day)              455261.00
Processing                                 308429.00
Import Quantity                            287997.09
Feed                                       233489.68
Export Quantity                            181594.80
Losses                                     163902.00
Other uses (non-food)                       91300.97
Food supply quantity (kg/capita/yr)         49056.85
Residuals                                   34864.00
Seed                                        25263.14
Stock Variation                             20577.91
Protein supply quantity (g/capita/day)      11833.56
Fat supply quantity (g/capita/day)          10258.69
Tourist consumption                            90.00
Name: Y2018, dtype: float64

Q18-Which of these elements had the 3rd lowest sum in 2018?

In [ ]:
#ANSWER--> from above we can that it is "Protein supply quantity (g/capita/day)"

Q19-What is the total Import Quantity in Algeria in 2018?

In [16]:
df.groupby(['Area','Element']).sum()['Y2018']['Algeria']['Import Quantity']

36238.29

Q20-What is the total number of unique countries in the dataset?

In [17]:
df.Area.nunique()

49